{{> base}}
{% block content_for_layout %}

<section class="bg-light">
    <div class="container mt-5 mb-5">
        <h1 class="text-center">Listado de incidentes</h1>

        {% for i in usuario.comunidades %}
            <a href="#" class="community-link">{{ i.comunidad.nombre }}</a>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Servicio Afectado</th>
                    <th>Establecimiento</th>
                    <th>Motivo</th>
                    <th>Localización</th>
                </tr>
                </thead>
                <tbody>
                {% for j in i.comunidad.incidentes %}
                    {% unless j.incidente.fue_resuelto_por_comunidad %}
                        <tr data-id="{{ incidente.id }}">
                            <td>{{ j.incidente.servicioIncidentado.nombre }}</td>
                            <td>{{ j.incidente.servicioIncidentado.establecimiento.nombre }}</td>
                            <td>{{ j.incidente.motivo_incidente }}</td>
                            <td>{{ j.incidente.ubicacionDelIncidente.nombre }}</td>
                        </tr>
                    {% endunless %}
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}

        <p>Estos son los incidentes actualmente abiertos en las comunidades de las que eres miembro. Si deseas ver los incidentes ya resueltos por la comunidad, haz clic en la comunidad correspondiente y busca los incidentes resueltos.
            Service Monitor Argentina
        </p>
    </div>
</section>





{% endblock %}